.main {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

img {
  max-width: 200px;
  max-height: 200px;
}

.beach-container {
  display: flex;
  text-align: center;
  padding: 50px;
}

.beach-list {
  width: 75%;
  /* border: solid;
  border-width: 1.5px; */
}

.favorites {
  width: 25%;
  /* border: solid;
  border-width: 1.5px; */
}

.beach {
  border: solid;
  border-width: 1.5px;
}

.favorite {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 7px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 8px;
}

.remove {
  background-color: #000; /* Green */
  border: none;
  color: white;
  padding: 7px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 8px;
}

.list-header {
  background-color: #4ECAFE;
  color: white;
  padding: 20px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 28px;
}

.change-this {
  display: flex;
}
